<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="sessionFactory">
  <property name="hibernate.connection.driver_class">${hibernate.connection.driver}</property>
  <property name="hibernate.connection.password">${hibernate.connection.password}</property>
  <property name="hibernate.connection.url">${hibernate.connection.url}</property>
  <property name="hibernate.connection.username">${hibernate.connection.username}</property>
  <property name="hibernate.dialect">${hibernate.dialect}</property>
  <property name="hibernate.connection.zeroDateTimeBehavior">convertToNull</property>
  <property name="hibernate.show_sql">${hibernate.show_sql}</property>
  <property name="hibernate.format_sql">${hibernate.format_sql}</property>
 </session-factory>
</hibernate-configuration>
