<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<div style="color:#666; font: normal 83%/1.2 Helvetica Neue, Helvetica, Arial, sans-serif; background: #F9F9F9; 
	border:1px solid #DEDEDE; padding: 2em; max-width:680px;">
	<table align="center" style="border-right:1px solid #EEE; border-left:1px solid #EEE; 
		border-top: 1px solid #EEE; background:#FFF;" cellspacing="0" cellpadding="0" width="100%">
		<tr>
		<td style="border-bottom:1px solid #EEEEEE; padding: 1.5em">
			<h2 style="color:#444; font-size:17px;">How to reset you SwiftRiver Password</h2>
		</td>
		</tr>
		<tr>
		<td style="border-bottom:1px solid #EEEEEE; padding: 1.5em; font-size:13px;">
			<p>Dear ${name},<p>
			<p>To resume using your SwiftRiver account, you will need to reset your password</p>
			<p>
				It's easy. Simply click the <b>Reset My Password</b> below.
			</p> 
		</td>
		</tr>
		<tr>
		<td style="border-bottom:1px solid #EEEEEE; padding: 1.5em; font-size:13px;">
			<a href="${url}&token=%token%" style="display:inline-block;color:#FFF; 
				font-weight:bold;text-decoration:none; 
				text-align:center; text-shadow: 0 1px 0 rgba(0,0,0,.35); border-radius: 3px; 
				background-color: #54c2d5; padding:0.7em 1.3em;">Reset My Password</a> 
		</td>
		</tr>
	</table>
</div>
</body>
</html>
